<% if(typeof errors!= 'undefined') { %>
<%    errors.forEach(function(error){ %>
<div class="alert alert-danger"> 
<p > <%= error.msg %></p>
</div>
<%    })        %>
<% } %>
<% if(success_msg!= '') { %>
<div class="alert alert-success"> 
<p><%=success_msg %> </p>
</div>
<% } %>
<% if(error_msg != '') { %>
  <%= error_msg %> 
<% } %> 
<% if(error != '') { %>
  <%= error %>
<% } %>