<header class="header">
	<div class="navigation bd-grid">
		<div class="nav__logo">
			<a href="#"><span><img src="/Images/schoolmet icon.png"> SCHOOLMET</span></a>
		</div>
		<div class="nav__menu" id="nav-menu">
			<ul class="nav__list">
				<li class="nav__item"><a href="#" class="nav__link">Home</a></li>
				<li class="nav__item"><a href="#" class="nav__link">About</a></li>
				<li class="nav__item"><a href="#features" class="nav__link">Features</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Virtual Classes</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Quiz room</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Mock tests</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
				<li class="nav__item"><a href="users/login" class="nav__link">Login</a></li>
				<li class="nav__item"><a href="users/register" class="nav__link">Register</a></li>
				<li class="nav__item"><a href="#contactsus" class="nav__link">Contact</a></li>
			</ul>
		</div>
		<div class="nav__toggle" id="nav-toggle">
			<i class="fa fa-bars"></i>
		</div>
	</div>
</header>
<section class="bloghome">
<div class="container">
<h5 class="subtitle">Latest</h5>
<div class="row">
<div class="col-md-6">
<img src="../Images/students.jpg" style="height:380px;width:100%;border-radius:10px;">
<div class="content">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home, get to interact with our well qualified tutors, ask questions and get answers at any time.</p>
</div>
</div>
<div class="col-md-4">
<div class="infoimg">
<div class="row">
<div class="col-md-12">
<div class="col-md-5">
<img src="../Images/online_3.jpeg">
</div>
<div class="col-md-7">Students resume learning after the pandemic
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p></div>
</div>
</div>
</div>
<div class="infoimg">
<div class="row">
<div class="col-md-12">
<div class="col-md-5">
<img src="../Images/photo-1536337005238-94b997371b40.jpeg">
</div>
<div class="col-md-7">Students resume learning after the pandemic
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p></div>
</div>
</div>
</div>
<div class="infoimg">
<div class="row">
<div class="col-md-12">
<div class="col-md-5">
<img src="../Images/child.jpg">
</div>
<div class="col-md-7">Students resume learning after the pandemic
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p></div>
</div>
</div>
</div>
<div class="infoimg">
<div class="row">
<div class="col-md-12">
<div class="col-md-5">
<img src="../Images/students.jpg">
</div>
<div class="col-md-7">Students resume learning after the pandemic
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p></div>
</div>
</div>
</div>
</div
<div class="col-md-2" >
<div class="topline"></div>
<div class="links">
<p>Be the first to know when we have a new feature to launch on schoolmet. Get to interact with the schoolmet team here.</p>
<h5><i class="fa fa-caret-right"></i> Latest on schoolmet </h5>
<h5><i class="fa fa-caret-right"></i> Trending in education</h5>
<h5><i class="fa fa-caret-right"></i> New Syllabus</h5>
<h5><i class="fa fa-caret-right"></i> School dates</h5>
<h5><i class="fa fa-caret-right"></i> Exam preparation tips</h5>
<h5><i class="fa fa-caret-right"></i> Best schools</h5>
</div>
<h5>
</div>
</div>
</div>
</section>


<section class="blogsyllabus">
<div class="container">
<h5 class="subtitle">Exam preparation tips</h5>
<div class="row">
<div class="col-md-12 itemscontainer">
<div class="item">
<img src="../Images/undraw_book_lover_mkck.svg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/undraw_book_reading_kx9s.svg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/undraw_certification_aif8.svg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/undraw_creative_team_r90h.svg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/undraw_exams_g4ow.svg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
</div>
</div>
</div>
</section>

<section class="beststudents">
<div class="container">
<h5 class="subtitle">Best performing students</h5>
<div class="row">
<div class="col-md-12">
<div class="col-md-3">
<img src="../Images/african-american-student-girl-holding-books-white-background-african-american-student-girl-holding-books-isolated-white-136571775.jpg">
<h5 class="h5">John Musau</h5>
<p></p>
</div>
<div class="col-md-3">
<img src="../Images/90.jpeg">
<h5 class="h5">Jane Wanjiru</h5>
<p></p>
</div>
<div class="col-md-3">
<img src="../Images/92.jpeg">
<h5 class="h5">David Senior</h5>
<p></p>
</div>
<div class="col-md-3">
<img src="../Images/93.jpeg">
<h5 class="h5">Mathew Engineer</h5>
<p></p>
</div>
</div>
</div>
</div>
</section>

<section class="blogsyllabus">
<div class="container">
<h5 class="subtitle">Best performing schools</h5>
<div class="row">
<div class="col-md-12 itemscontainer">
<div class="item">
<img src="../Images/download (1).jpeg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/download (2).jpeg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/download (3).jpeg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/download (4).jpeg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/download.jpeg">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
</div>
</div>
</div>
</section>

<section class="beststudents">
<div class="container">
<h5 class="subtitle">News</h5>
<div class="row">
<div class="col-md-12">
<div class="col-md-2">
<img src="../Images/african-american-student-girl-holding-books-white-background-african-american-student-girl-holding-books-isolated-white-136571775.jpg">
<h5 class="h5">John Musau<br>School met is an efficient way to learn and get a grasp of various concepts at the</h5>
</div>
<div class="col-md-2">
<img src="../Images/92.jpeg">
<h5 class="h5">David Senior<br>School met is an efficient way to learn and get a grasp of various concepts at the</h5>
</div>
<div class="col-md-2">
<img src="../Images/90.jpeg">
<h5 class="h5">Jane Wanjiru<br>School met is an efficient way to learn and get a grasp of various concepts at the</h5>
</div>
<div class="col-md-2">
<img src="../Images/90.jpeg">
<h5 class="h5">Jane Wanjiru<br>School met is an efficient way to learn and get a grasp of various concepts at the</h5>
</div>
<div class="col-md-2">
<img src="../Images/92.jpeg">
<h5 class="h5">David Senior<br>School met is an efficient way to learn and get a grasp of various concepts at the</h5>
</div>
<div class="col-md-2">
<img src="../Images/93.jpeg">
<h5 class="h5">Mathew Engineer<br>School met is an efficient way to learn and get a grasp of various concepts at the</h5>
</div>
</div>
</div>
</div>
</section>
<section class="blogsyllabus">
<div class="container">
<h5 class="subtitle">Syllabus</h5>
<div class="row">
<div class="col-md-12 itemscontainer">
<div class="item">
<img src="/Images/business studies.png">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/Englishi icon golden.png">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/maths updated icon golden.png">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/physics golden icon.png">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
<div class="item">
<img src="../Images/geo icon.png">
<h5>What is schoolmet all about and why schoolmet ? </h5>
<p>School met is an efficient way to learn and get a grasp of various concepts at the comfort of your home.</p>
<p class="time"><i class="fa fa-clock"></i> August 17th 2021</p>
</div>
</div>
</div>
</div>
</section>

    <footer class="footer" id="contactus">
    <div class="container">
    <div class="row" style="width:100%;margin:auto;">
    <div class="col-md-12">
    <div class="col-md-3">
     <div class="footer-left">
     <a href="#"><img src="/Images/schoolmet icon.png" style="width:120px;height:90px;"></a>
              <h6>Primary School</h6>

              <a href="">
                <li>Grade 4</li>
              </a>
              <a href="">
                <li>Class 5</li>
              </a>
              <a href="">
                <li>Class 6</li>
              </a>
              <a href="">
                <li>Class 7</li>
              </a>
              <a href="">
                <li>Class 8</li>
              </a><br>
              <h6>Secondary School</h6>

              <a href="">
                <li>Form 1</li>
              </a>
              <a href="">
                <li>Form 2</li>
              </a>
              <a href="">
                <li>Form 3</li>
              </a>
              <a href="">
                <li>Form 4</li>
              </a>
            </div>
    </div>
    <div class="col-md-3">
    <div class="user-section">
              <h6>User Section</h6>
              <a href="">
                <li>Login</li>
              </a>
              <a href="">
                <li>Register</li>
              </a><br>

              <h6>Past Papers</h6>
              <a href="">
                <li>KCPE</li>
              </a>
              <a href="">
                <li>KCSE</li>
              </a>
              <h6>Mock Papers</h6>
              <a href="">
                <li>KCPE</li>
              </a>
              <a href="">
                <li>KCSE</li>
              </a>
              <h6>SchoolMet Prediction Papers</h6>
              <a href="">
                <li>KCPE</li>
              </a>
              <a href="">
                <li>KCSE</li>
              </a>
            </div>
    </div>
    <div class="col-md-3">
    <div class="footer-right">
              <h6>Videos</h6>
              <a href="">
                <li>Primary School</li>
              </a>
              <a href="">
                <li>Secondary School</li>
              </a>
              <a href="">
                <li>Set Books</li>
              </a>
              <br>
              <h6>SchoolMet Bonus</h6>
              <a href="">
                <li>Formulae Booklets</li>
              </a>
              <a href="">
                <li>First Aid Basics</li>
              </a>
              <a href="">
                <li>Kenyan Schools' KNEC Codes</li>
              </a>
              <a href="">
                <li>Wonders of the World</li>
              </a> <br>
            </div>
            <div class="company">
              <h6>SchoolMet Tips</h6>
              <a href="">
                <li>How To Pass sciences</li>
              </a>
              <a href="">
                <li>Habits of highly performing students</li>
              </a>
              <br>
              </div>
    </div>

    <div class="col-md-3">
    <div class="footer-right">
              <div >
              <h6>Contact Us</h6>
              SchoolMet Pvt. Ltd <br>
              UpperHill <br>
              Nairobi <br>
              +254759824245 <br>
              info@schoolmet.com <br>
              Kenya
              <a href="">
                <li>About Us</li>
              </a> <br>
              <div class="social">
                <h6>Follow Us</h6>
                <a href="#"> <i class="fab fa-facebook"></i></a>
                <a href="#"> <i class="fab fa-twitter"></i></a>
                <a href="#"> <i class="fab fa-instagram"></i></a>
                <a href="#"> <i class="fab fa-linkedin"></i></a>
              </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
    <hr style="width:100%;color#000;background-color:#000">
    <p style="text-align:center">Schoolmet All rights reserved &copy 2021</p>
            </div>
          </div>
          </div>
          </div>
    </footer>
    <script type="text/javascript">

    let menu = document.querySelector('#nav-menu');
let toggle = document.querySelector("#nav-toggle");
function loader(){
  document.querySelector('.loader').classList.add('fadeout');
}
function fadeout(){
  setInterval(loader,5000);
}
fadeout();
toggle.addEventListener('click',()=>{
  menu.classList.toggle('show');
});
const slides =  document.querySelector('.slider').children;
const next = document.querySelector('.next');
const prev = document.querySelector('.prev');
const indicator = document.querySelector('.indicator');
let index =0;



next.addEventListener('click',()=>{
  nextSlide();
});
prev.addEventListener('click',()=>{
  prevSlide();
});
function circleIndicator(){
  for(let i=0; i < slides.length; i++){
    const div = document.createElement('div');
    div.setAttribute('onclick','sliderIndicator(this)');
    div.id = i;
    // div.innerHTML = i+1;
    if(i==0){
      div.className = 'active';
    }
    indicator.appendChild(div);
    console.log(i);
  }
}
circleIndicator();
updateCircle();

function nextSlide(){
  if(index == slides.length - 1){
    index = 0;
  }
  else{
    index++;
  }
  changeSlide();
  updateCircle();

}
function prevSlide(){
  if(index==0){
    index = slides.length - 1;
  }
  else{
    index --;
  }
  changeSlide();
  updateCircle();
}
function changeSlide(){
  for(let i=0; i< slides.length; i++){
    slides[i].classList.remove('active');
  }
  slides[index].classList.add('active');
}
function sliderIndicator(element){
  index = element.id;
  changeSlide();
  updateCircle()
}
function autoplay(){
  nextSlide();
}
let timer = setInterval(autoplay,5000);
function updateCircle(){
    for(let i=0; i<indicator.children.length; i++){
        indicator.children[i].classList.remove('active');
    }
    indicator.children[index].classList.add('active');
}
    </script>
<!-- <h1>Welcome!</h1>
<p>Create an account or login</p>
<a href="/users/register">Register</a>
<a href="/users/login"> Login</a> -->
