<header class="header">
  <div class="navigation bd-grid">
    <div class="nav__logo">
      <a href="/"><img src="/Images/schoolmate logo n.png"></a>
    </div>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <ul class="nav__list">
          <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="/users/register" class="nav__link">Register</a></li>

        </ul>
      </ul>
    </div>
    <div class="nav__toggle" id="nav-toggle">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
<div class="page_body">
  <div class="form">
    <div class="form_header">
      <h1> <a href="#"><img src="/Images/book.gif" style="width:50px;height:50px;"></a> Welcome back! Login and
        continue
        learning. </h1>
    </div>
    <%- include ('./partials/messages') %>
    <div class="row">
      <div class="col-md-6">
        <img src="/Images/child.jpg">
      </div>
      <div class="col-md-6">
        <form action="/users/login" method="POST">
          <div>
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" placeholder="Enter Email" />
          </div>
          <div>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter Password" />

          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <p>Don't have an account? <a href="/users/register">Register</a></p>
          <button class="btn btn-secondary btn-block"><a href="/">Home</a>
          </button>
        </form>
      </div>
    </div>
  </div>