<header class="header">
	<div class="navigation bd-grid">
		<div class="nav__logo">
			<a href="#"><span><img src="/Images/schoolmet icon.png"> SCHOOLMET</span></a>
		</div>
		<div class="nav__menu" id="nav-menu">
			<ul class="nav__list">
				
				<li class="nav__item"><a href="#features" class="nav__link">Features</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Quiz room</a></li>
				<li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
				<li class="nav__item"><a href="/users/login" class="nav__link">Login</a></li>
				<li class="nav__item"><a href="/users/register" class="nav__link">Register</a></li>
			
			</ul>
		</div>
		<div class="nav__toggle" id="nav-toggle">
			<i class="fa fa-bars"></i>
		</div>
	</div>
</header>
<section class="home">
	<div class="slider">
		<div class="slide active" >
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="caption">
							<div>
					<h1>Schoolmet</h1>
					 <h2 class="heading-primary">Access study materials for your <br>child, students, homework or next exam.
          </h2>
          <p class="category">Kenya's first online learning platform integrated with<br> upper primary and secondary
            school syllabus and live classes and downloadable class concepts from teachers.
          </p>
					<a href="#">Explore</a>
				</div>
			</div>
					</div>

					<div class="col-md-7">
					<img src="/Images/photo-1536337005238-94b997371b40-removebg-preview.png" style="height: auto;width: 90%;">	
					</div>
				</div>
			</div>
		</div>
		<div class="slide" >
			<div class="container">
				<div class="row" style="width:100%;margin:auto;">
					<div class="col-md-5">
						<div class="caption">
						<div>
					<h1>Schoolmet</h1>
					 <h2 class="heading-primary">Access study materials for your <br>child, students, homework or next exam.
          </h2>
           <p class="category">Kenya's first online learning platform integrated with<br> upper primary and secondary
            school syllabus and live classes and downloadable class concepts from teachers.
          </p>
					<a href="#">Explore</a>
				</div>
					</div>
					</div>
					<div class="col-md-7">
					<img src="/Images/StudenTs.png" style="height: auto;width: 90%;">	
					</div>
				</div>
			</div>
		</div>
		<div class="slide" >
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="caption">
						<div>
					<h1>Schoolmet</h1>
					 <h2 class="heading-primary">Access study materials for your <br>child, students, homework or next exam.
          </h2>
           <p class="category">Kenya's first online learning platform integrated with<br> upper primary and secondary
            school syllabus and live classes and downloadable class concepts from teachers.
          </p>
					<a href="#">Explore</a>
				</div>
					</div>
</div>
					<div class="col-md-7">
					<img src="/Images/students-removebg-preview.png" style="height: auto;width: 90%;">	
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="caption">
						<div>
					<h1>Schoolmet</h1>
					 <h2 class="heading-primary">Access study materials for your <br>child, students, homework or next exam.
          </h2>
           <p class="category">Kenya's first online learning platform integrated with<br> upper primary and secondary
            school syllabus and live classes and downloadable class concepts from teachers.
          </p>
					<a href="#">Explore</a>
				</div>
					</div>
</div>
					<div class="col-md-7">
					<img src="/Images/online_3-removebg-preview.png" style="height: auto;width: 100%;">	
					</div>
				</div>
			</div>
	</div>
	</div>
	<div class="">
            <div class="prev"><</div>
            <div class="next">></div>
        </div>
	<div class="indicator">
	</div>
  <div class="loader">
  <h3>SCHOOLMET</h3>
  <img src="/Images/Book.gif">
  </div>
</section>
<section class="features" id="features">
<h3>Why School Met?</h3>
<div class="container">
 <div class="row justify-content-center" style="width:100%;margin:auto;">
      <div class="col-md-12">
      <div class="col-md-3">
      <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <i class="icon fas fa-book-reader fa-3x"></i>
                  <h5 class="card-title feat-heading">Books</h5>
                  <p class="card-text">Buy or rent a vast amount of E-books:
                    Textbooks, Revision books,
                    Set books, Set book guides
                    and Story books.

                  </p>
                </div>
              </div>
      </div>
      <div class="col-md-3">
      <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <i class="icon far fa-file-alt fa-3x"></i>
                  <h4 class="feat-heading">Notes</h4>
                  <p class="card-text">Access Comprehensive
                    class notes for all subjects.</p>
                </div>
              </div>
      </div>
      <div class="col-md-3">
      <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <!-- <i class="icon far fa-file-alt fa-3x"></i> -->
                  <i class="icon fa fa-comments fa-3x" aria-hidden="true"></i>
                  <h4 class="feat-heading"> Tutors</h4>
                  <p class="card-text">Get intricate concepts from your subjects 
                    clarified by best teachers in Kenya through Virtual Classes.
                  </p>
                </div>
              </div>
      </div>
      <div class="col-md-3">
       <div class="card" style="width: 18rem;">
      <div class="card-body">
                  <i class="icon fas fa-clipboard-list fa-3x"></i>
                  <h4 class="feat-heading">Exam Papers</h4>
                  <p class="card-text"> Strengthen your weak areas by accessing SchoolMet
                    KCPE and KCSE Prediction and practice Papers
                    with marking schemes.
                  </p>
                </div>
              </div>
              </div>
      </div>
      </div>
      <div class="col-md-12">
      <div class="col-md-3">
      <div class="card" style="width: 18rem;">
                 <div class="card-body">
                  <i class="icon fas fa-clipboard-list fa-3x"></i>
                  <h4 class="feat-heading"> Mock Tests</h4>
                  <p class="card-text">Evaluate your exam readiness through SchoolMet topical
                    questions and timed practice tests.
                  </p>
                </div>
              </div>
      </div>
      <div class="col-md-3">
      <div class="card" style="width: 18rem;">
               <div class="card-body">
                  <i class="icon fas fa-clipboard-list fa-3x"></i>
                  <h4 class="feat-heading"> Videos</h4>
                  <p class="card-text">Access videos through virtual classes for intricate subjects especially
                    sciences and theatre
                    videos
                    for
                    set books.</p>
                </div>
              </div>
      </div>
      <div class="col-md-3">
      <div class="card" style="width: 18rem;">
               <div class="card-body">
                  <i class="icon fas fa-clipboard-list fa-3x"></i>
                  <h4 class="feat-heading"> Bonus</h4>
                  <p class="card-text">Full access to Formulae booklet, Syllabus,  
                    schemes of work and important charts and diagrams. 
                  </p>
                </div>
              </div>
      </div>
      <div class="col-md-3">
       <div class="card" style="width: 18rem;">
      <div class="card-body">
                 <i class="icon fas fa-clipboard-list fa-3x"></i>
                  <h4 class="feat-heading">Blog </h4>
                  <p class="card-text">Access free exam passing tips and education related information like
                    General knowledge,First Aid guide,
                    Kenya School codes.
                  </p>
                </div>
              </div>
              </div>
      </div>
      </div>
      </div>
      </div>
       <div class="col freesignup">
            <h1 class="heading-primary">Get your questions answered by best teachers in Kenya<br>
              and fellow enthusiatic students.
              
            </h1>
            <a href="/auth/register"> <button type="button" class="btn btn-primary btn-success btn-lg  signbutton">Sign
                in for Free</button></a>
          </div>
          
    </section>
    <footer class="footer" id="contactus">
    <div class="container">
    <div class="row" style="width:100%;margin:auto;">
    <div class="col-md-12">
    <div class="col-md-3">
     <div class="footer-left">
     <a href="#"><img src="/Images/schoolmet icon.png" style="width:120px;height:90px;"></a>
              <h6>Primary School</h6>

              <a href="">
                <li>Grade 4</li>
              </a>
              <a href="">
                <li>Class 5</li>
              </a>
              <a href="">
                <li>Class 6</li>
              </a>
              <a href="">
                <li>Class 7</li>
              </a>
              <a href="">
                <li>Class 8</li>
              </a><br>
              <h6>Secondary School</h6>

              <a href="">
                <li>Form 1</li>
              </a>
              <a href="">
                <li>Form 2</li>
              </a>
              <a href="">
                <li>Form 3</li>
              </a>
              <a href="">
                <li>Form 4</li>
              </a>
            </div>
    </div>
    <div class="col-md-3">
    <div class="user-section">
              <h6>User Section</h6>
              <a href="">
                <li>Login</li>
              </a>
              <a href="">
                <li>Register</li>
              </a><br>

              <h6>Past Papers</h6>
              <a href="">
                <li>KCPE</li>
              </a>
              <a href="">
                <li>KCSE</li>
              </a>
              <h6>Mock Papers</h6>
              <a href="">
                <li>KCPE</li>
              </a>
              <a href="">
                <li>KCSE</li>
              </a>
              <h6>SchoolMet Prediction Papers</h6>
              <a href="">
                <li>KCPE</li>
              </a>
              <a href="">
                <li>KCSE</li>
              </a>
            </div>
    </div>
    <div class="col-md-3">
    <div class="footer-right">
              <h6>Videos</h6>
              <a href="">
                <li>Primary School</li>
              </a>
              <a href="">
                <li>Secondary School</li>
              </a>
              <a href="">
                <li>Set Books</li>
              </a>
              <br>
              <h6>SchoolMet Bonus</h6>
              <a href="">
                <li>Formulae Booklets</li>
              </a>
              <a href="">
                <li>First Aid Basics</li>
              </a>
              <a href="">
                <li>Kenyan Schools' KNEC Codes</li>
              </a>
              <a href="">
                <li>Wonders of the World</li>
              </a> <br>
            </div>
            <div class="company">
              <h6>SchoolMet Tips</h6>
              <a href="">
                <li>How To Pass sciences</li>
              </a>
              <a href="">
                <li>Habits of highly performing students</li>
              </a>
              <br>
              </div>
    </div>

    <div class="col-md-3">
    <div class="footer-right">
              <div >
              <h6>Contact Us</h6>
              SchoolMet Pvt. Ltd <br>
              UpperHill <br>
              Nairobi <br>
              +254759824245 <br>
              info@schoolmet.com <br>
              Kenya
              <a href="">
                <li>About Us</li>
              </a> <br>
              <div class="social">
                <h6>Follow Us</h6>
                <a href="#"> <i class="fab fa-facebook"></i></a>
                <a href="#"> <i class="fab fa-twitter"></i></a>
                <a href="#"> <i class="fab fa-instagram"></i></a>
                <a href="#"> <i class="fab fa-linkedin"></i></a>
              </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
    <hr style="width:100%;color#000;background-color:#000">
    <p style="text-align:center">Schoolmet All rights reserved &copy 2021</p>
            </div>
          </div>
          </div>
          </div>
    </footer>
    <script type="text/javascript">

    let menu = document.querySelector('#nav-menu');
let toggle = document.querySelector("#nav-toggle");
function loader(){
  document.querySelector('.loader').classList.add('fadeout');
}
function fadeout(){
  setInterval(loader,5000);
}
fadeout();
toggle.addEventListener('click',()=>{
  menu.classList.toggle('show');
});
const slides =  document.querySelector('.slider').children;
const next = document.querySelector('.next');
const prev = document.querySelector('.prev');
const indicator = document.querySelector('.indicator');
let index =0;



next.addEventListener('click',()=>{
  nextSlide();
});
prev.addEventListener('click',()=>{
  prevSlide();
});
function circleIndicator(){
  for(let i=0; i < slides.length; i++){
    const div = document.createElement('div');
    div.setAttribute('onclick','sliderIndicator(this)');
    div.id = i;
    // div.innerHTML = i+1;
    if(i==0){
      div.className = 'active';
    }
    indicator.appendChild(div);
    console.log(i);
  }
}
circleIndicator();
updateCircle();

function nextSlide(){
  if(index == slides.length - 1){
    index = 0;
  }
  else{
    index++;
  }
  changeSlide();
  updateCircle();

}
function prevSlide(){
  if(index==0){
    index = slides.length - 1;
  }
  else{
    index --;
  }
  changeSlide();
  updateCircle();
}
function changeSlide(){
  for(let i=0; i< slides.length; i++){
    slides[i].classList.remove('active');
  }
  slides[index].classList.add('active');
}
function sliderIndicator(element){
  index = element.id;
  changeSlide();
  updateCircle()
}
function autoplay(){
  nextSlide();
}
let timer = setInterval(autoplay,5000);
function updateCircle(){
    for(let i=0; i<indicator.children.length; i++){
        indicator.children[i].classList.remove('active');
    }
    indicator.children[index].classList.add('active');
}
    </script>
<!-- <h1>Welcome!</h1>
<p>Create an account or login</p>
<a href="/users/register">Register</a>
<a href="/users/login"> Login</a> -->
