<header class="header">
  <div class="navigation bd-grid">
    <div class="nav__logo">
      <a href="#"><span><img src="/Images/Schoolmate logo n.png"></span></a>
    </div>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">

        <li class="nav__item"><a href="#features" class="nav__link">Features</a></li>
        <li class="nav__item"><a href="/users/login" class="nav__link">Quiz Room</a></li>
        <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#contactus" class="nav__link">Contact Us</a></li>
        <li class="nav__item"><a href="/users/login" class="nav__link">Login</a></li>
        <li class="nav__item"><a href="/users/register" class="nav__link">Register</a></li>

      </ul>
    </div>
    <div class="nav__toggle" id="nav-toggle">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<section class="home">
  <div class="slider">
    <div class="slide active">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="caption">
              <div>
                <h1>Empowering students and teachers to do their best</h1>
                <h2 class="heading-primary">Access study materials for your <br>students, children, homework or next
                  exam.
                </h2>
                <h2 class="heading-primary">Kenya's first online learning platform integrated with<br> upper primary and
                  secondary school syllabus.
                  <a href="/register"> <button style="margin-top: 2rem;" type="button"
                      class=" btn btn-primary btn-success btn-lg ">Get started for free</button></a>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-md-7">
            <img src="/Images/photo-1536337005238-94b997371b40-removebg-preview.png" style="height: auto;width: 90%;">
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="row" style="width:100%;margin:auto;">
          <div class="col-md-5">
            <div class="caption">
              <div>
                <h1>Better Learning Better Results, enjoy learning</h1>
                <h2 class="heading-primary">Login from anywhere anytime and join other <br> students in learning
                </h2>
                <h2 class="heading-primary">Learn at your own pace while testing your strengths through topical
                  questions and
                  past papers.
                </h2>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <img src="/Images/StudenTs.png" style="height: auto;width: 90%;">
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="caption">
              <div>
                <h1>Doubt Buster-challenging question?</h1>
                <h2 class="heading-primary">Get your complex and homework questions answered by enthusiastic students
                  and teachers.
                </h2>
                <h2 class="heading-primary">Professionally engage in discussions with other students and teachers
                  by
                  responding to their
                  questions.
                </h2>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <img src="/Images/students-removebg-preview.png" style="height: auto;width: 90%;">
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="caption">
              <div>
                <h1>Instilling a thirst for learning through a teachers and students go to blog </h1>
                <h2 class="heading-primary">Freely access exam tips,latest education news, recent scientific discoveries
                  intresting biographies, general knowledge and more.
                </h2>

                <a href="/blog">Explore Blog</a>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <img src="/Images/online_3-removebg-preview.png" style="height: auto;width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="prev">
      <</div> <div class="next">>
    </div>
  </div>
  <div class="indicator">
  </div>
  <!-- <div class="loader">
    <h3>SchoolMet</h3>
    <img src="/Images/Book.gif">
  </div> -->
</section>
<section class="features" id="features">
  <h3><a href="#"><img src="/Images/book.gif" style="width:50px;height:50px;"></a>
    Why SchoolMate?</h3>
  <div class="container">
    <div class="row justify-content-center" style="width:100%;margin:auto;">
      <div class="col-md-12">

        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon far fa-file-alt fa-3x"></i>
              <h4 class="feat-heading">Notes</h4>
              <p class="card-text">Access comprehensive
                class notes for all subjects, primary and secondary level.</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon far fa-clipboard fa-3x"></i>
              <h4 class="feat-heading">Exam Papers</h4>
              <p class="card-text"> Strengthen your weak areas by accessing past
                KCPE and KCSE papers
                with marking schemes.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon far fa-question-circle fa-3x"></i>
              <h4 class="feat-heading">Topical Questions</h4>
              <p class="card-text">Test your knowledge in various topics through SchoolMate Topical questions.They are
                uniquely designed to increase your knowledge in every topic.
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon far fa-calendar-alt fa-3x" aria-hidden="true"></i>
              <h4 class="feat-heading">Preparatory Papers</h4>
              <p class="card-text">Be exam vigilant through exam preparation papers: SchoolMate Termly, KCPE, KCSE
                and
                Mock prediction
                papers with marking schemes.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon fas fa-book-reader fa-3x"></i>
              <h4 class="card-title feat-heading">Practice Questions</h4>
              <p class="card-text">Evaluate your exam readiness through SchoolMate practice
                questions. They are formulated to make students comprehend various topics and concepts better.

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon far fa-comments fa-3x"></i>
              <h4 class="feat-heading"> Quiz Room</h4>
              <p class="card-text">Get your challenging questions answered best teachers in
                Kenya.
                Also engage in discussions with other students.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon fas fa-medal fa-3x"></i>
              <h4 class="feat-heading">SchoolMate Bonus</h4>
              <p class="card-text">Fully access Formulae booklet, Syllabus,
                schemes of work and important charts and diagrams in all subjects.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="icon fas fa-podcast fa-3x"></i>
              <h4 class="feat-heading"> SchoolMate Blog </h4>
              <p class="card-text">Check out free exam passing tips,latest education news, intresting scientific
                discoveries,
                <br> inspiring biographies, general knowledge,First Aid guide and more.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="users/register"> <button style="margin-bottom: 2rem;" type="button"
      class=" btn btn-primary btn-success btn-lg ">Sign
      up for free</button></a>
  </div>

</section>
<footer class="footer" id="contactus">
  <div class="container">
    <div class="row" style="width:100%;margin:auto;">
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="footer-left">
            <h6>User Section</h6>
            <a href="users/login">
              <li>Login</li>
            </a>
            <a href="users/register">
              <li>Register</li>
            </a><br>
            <h6>SchoolMate Bonus</h6>
            <a href="">
              <li>Formulae Booklets</li>
            </a>
            <a href="">
              <li>First Aid Basics</li>
            </a>
            <a href="">
              <li>Kenyan Schools' KNEC Codes</li>
            </a>
            <a href="">
              <li>Wonders of the World</li>
            </a> <br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user-section">

            <h6>SchoolMate Tips</h6>
            <a href="">
              <li>How To Pass sciences</li>
            </a>
            <a href="">
              <li>Habits of highly performing students</li>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-right">

          </div>
          <div class="company">
            <h6>Contact Us</h6>
            SchoolMate Pvt. Ltd <br>
            UpperHill <br>
            Nairobi <br>
            +254759824245 <br>
            info@SchoolMate.com <br>
            Kenya
            <br>
          </div>
        </div>

        <div class="col-md-3">
          <div class="footer-right">
            <div>

              <div class="social">
                <h6>Connect with Us:</h6>
                <a href="#"> <i class="fab fa-facebook"></i></a>
                <a href="#"> <i class="fab fa-twitter"></i></a>
                <a href="#"> <i class="fab fa-instagram"></i></a>
                <a href="#"> <i class="fab fa-linkedin"></i></a>
                <!-- <div> <a href="#"><img src="/Images/schoolmet icon.png" -->
                <!-- style=" margin-top: 50px; width:90px;height:60px;"></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <hr style="width:100%;color#000;background-color:#000">
      <p style="text-align:center">SchoolMate All rights reserved &copy 2022</p>
    </div>
  </div>
  </div>
  </div>
</footer>
<script type="text/javascript">
  let menu = document.querySelector('#nav-menu');
  let toggle = document.querySelector("#nav-toggle");

  function loader() {
    document.querySelector('.loader').classList.add('fadeout');
  }

  function fadeout() {
    setInterval(loader, 5000);
  }
  fadeout();
  toggle.addEventListener('click', () => {
    menu.classList.toggle('show');
  });
  const slides = document.querySelector('.slider').children;
  const next = document.querySelector('.next');
  const prev = document.querySelector('.prev');
  const indicator = document.querySelector('.indicator');
  let index = 0;



  next.addEventListener('click', () => {
    nextSlide();
  });
  prev.addEventListener('click', () => {
    prevSlide();
  });

  function circleIndicator() {
    for (let i = 0; i < slides.length; i++) {
      const div = document.createElement('div');
      div.setAttribute('onclick', 'sliderIndicator(this)');
      div.id = i;
      // div.innerHTML = i+1;
      if (i == 0) {
        div.className = 'active';
      }
      indicator.appendChild(div);
      console.log(i);
    }
  }
  circleIndicator();
  updateCircle();

  function nextSlide() {
    if (index == slides.length - 1) {
      index = 0;
    } else {
      index++;
    }
    changeSlide();
    updateCircle();

  }

  function prevSlide() {
    if (index == 0) {
      index = slides.length - 1;
    } else {
      index--;
    }
    changeSlide();
    updateCircle();
  }

  function changeSlide() {
    for (let i = 0; i < slides.length; i++) {
      slides[i].classList.remove('active');
    }
    slides[index].classList.add('active');
  }

  function sliderIndicator(element) {
    index = element.id;
    changeSlide();
    updateCircle()
  }

  function autoplay() {
    nextSlide();
  }
  let timer = setInterval(autoplay, 5000);

  function updateCircle() {
    for (let i = 0; i < indicator.children.length; i++) {
      indicator.children[i].classList.remove('active');
    }
    indicator.children[index].classList.add('active');
  }
</script>