*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'sans-serif';
}
a{
    text-decoration: none;
}
.sidebar{
    width:250px;
    background-color: #8bcefd;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    overflow-y: scroll;
}
.sidebar-brand{
    height: 90px;
    color:#fff;
    padding: 1rem 0rem 1rem 2rem;
}
#nav-toggle:checked + .sidebar{
    width:100px;
}
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}
.sidebar-menu li{
    width:100%;
    
    margin-bottom: 1.5rem;
}
.sidebar-menu li a{
    color: #000;
    display: block;
    padding-left: 2rem;
}
#nav-toggle:checked ~ .main-content{
    margin-left: 100px;
}
#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 100px);
    left:100px;
}
.sidebar-menu li.active a{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:#000;
    background-color: pink;
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu li a span:first-child{
    padding-right:1rem;
}
.main-content{
    margin-left: 250px;
}
header{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 250px;
    top:0;
    width: calc(100% - 250px);
    height: 80PX;;
    z-index:100;
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding:.5rem 2rem;
    align-items: center;
}
main{
    margin-top: 60px;
    min-height: calc(100vh - 80px);
    background-color: #f0f0f0;
    padding:2rem 1.5rem;
}
.input{
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    border-radius: 30px;
    overflow-x: hidden;
    padding:1rem;
}
.input span{
    display: inline-block;
}
.input input{
    border:none;
    outline:none;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:2rem;
    margin-top:1rem;
}
.single-card{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 2px;
}
.single-card div h5{
    margin:20px 0px;
    font-size: 16px;
}
.single-card div:first-child h4{
    font-size:1.5rem;
} 
.single-card div:last-child span{
    font-size:1.5rem;
    color: #BFFE90;
} 
@media only screen and (max-width:1200px){
 .sidebar{
        width:100px;
    }
    .sidebar li a span:last-child{
        display: none;
    }
 .main-content{
        margin-left: 100px;
    }
     .main-content header{
        width: calc(100% - 100px);
        left:100px;
    }   
   
}
@media only screen and (max-width:768px){
    .cards{
        grid-template-columns:repeat(3, 1fr);
    }
    
}
@media only screen and (max-width:500px){
    header{
        width: 100%;
    }
    .cards{
        grid-template-columns:repeat(1, 1fr);
    }
    .sidebar{
        left: -100px;
    }
    .main-content{
        width:100%;
        margin-left:0rem;
    }

    .input{
        display: none;
    }
}
.profilezz{
    width: 70%;
    margin: auto;
    height: 70vh;
    box-shadow: 0 1px 4px rgba(146, 161, 176,0.65);
}
.profile-header{
    background-color: gray;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-body{
    padding: 30px;
}
.profile-pic{
    height: 70%;
    width: 100%;
    box-shadow: 0 1px 4px rgba(146, 161, 176,0.45);
}
.profile-pic p{
    font-size: 22px;
    }
    .quizroomheader{
        min-height: 20px;
        width: 100%;
        background-color: #D3D3D3;
        border-radius: 10px 10px 0px 0px;
    }
    .quizroomheader{
        text-align: center;
        font-size: 20px;
    }
    .quiz{
        border: 1px solid #D3D3D3;
        margin-top: -20px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .quizreplies{
        border: 1px solid #D3D3D3;
        border-radius: 10px;
         margin-top: 120px;
        margin-bottom: 10px;
    }
    .quizreply{
        border-bottom: 1px solid#000;
        padding-bottom: 10px;
    }
    .quizreply .btn{
        margin-left: 10px;
    }
     .quizroombody{
        padding: 20px;
    }
    .quiz .btn{
        margin-left: 5px;
    }
    #quizform{
        display: none;
        margin-top: 20px;
        padding: 50px 20px;
        width: 100%;
        margin: auto;
    }
    #quizform.active{
        display: inline-block;
    }
    #quizform textarea{
        min-height: 120px;
    }
    .times.active{
        color: green;
    }
     .heart.active{
        color: red;
    }
     .bookmark.active{
        color: red;
    }